AWSTemplateFormatVersion: '2010-09-09'
Description: OpenShift Integrated Control Plane
Parameters:
  MasterSecurityGroups:
    Type: 'List<AWS::EC2::SecurityGroup::Id>'
  MasterExternalELBSecurityGroups:
    Type: 'List<AWS::EC2::SecurityGroup::Id>'
  MasterInternalELBSecurityGroups:
    Type: 'List<AWS::EC2::SecurityGroup::Id>'
  MasterInstanceType:
    Type: String
  MasterImageID:
    Type: 'AWS::EC2::Image::Id'
  MasterInstanceProfile:
    Type: String
  KeyName:
    Type: 'AWS::EC2::KeyPair::KeyName'
  MasterSubnets:
    Type: 'List<AWS::EC2::Subnet::Id>'
  MasterAPIPort:
    Type: Number
    Default: 443
  MasterRootVolSize:
    Type: String
    Default: 10
  MasterDockerVolSize:
    Type: String
    Default: 25
  MasterETCDVolSize:
    Type: String
    Default: 25
  MasterUserData:
    Type: String

Resources:
{%- for i in range(openshift_aws_num_masters) %}
  Master{{ i }}:
    Type: 'AWS::EC2::Instance'
    Properties:
      ImageId:            !Ref MasterImageID
      KeyName:            !Ref KeyName
      SubnetId:           !Select [{{ i }}, !Ref MasterSubnets]
      InstanceType:       !Ref MasterInstanceType
      SecurityGroupIds:   !Ref MasterSecurityGroups
      IamInstanceProfile: !Ref MasterInstanceProfile
      BlockDeviceMappings:
{%- for device, name in [('sda1', 'Root'), ('xvdb', 'Docker'), ('xvdc', 'ETCD')] %}
        - DeviceName: /dev/{{ device }}
          Ebs:
            VolumeSize:          !Ref Master{{ name }}VolSize
            VolumeType:          gp2
            DeleteOnTermination: True
{%- endfor %}
      UserData: !Ref MasterUserData
{%- endfor %}
{%- for name, scheme in [('External', 'internet-facing'), ('Internal', 'internal')] %}
  Master{{ name }}LoadBalancer:
    Type: 'AWS::ElasticLoadBalancing::LoadBalancer'
    Properties:
      CrossZone: True
      ConnectionSettings:
        IdleTimeout: 3600
      Listeners:
        - InstancePort:     !Ref MasterAPIPort
          InstanceProtocol: tcp
          LoadBalancerPort: !Ref MasterAPIPort
          Protocol:         tcp
      Scheme:         {{ scheme }}
      SecurityGroups: !Ref Master{{ name }}ELBSecurityGroups
      Subnets:        !Ref MasterSubnets
      Instances:
{%- for i in range(openshift_aws_num_masters) %}
        - !Ref Master{{ i }}
{%- endfor %}
      HealthCheck:
        HealthyThreshold: 2
        Interval: 5
        Timeout: 2
        UnhealthyThreshold: 2
        Target: !Join ['', ['https:', !Ref MasterAPIPort, '/healthz/ready']]
{%- endfor %}